<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>SiwBooks - Autore</title>
<link rel="stylesheet" href="/css/libroStyle.css" /></head>
<body>
  <!-- Navbar -->
  <!-- index.html -->
  <header class="navbar">
	<a href="/" class="logo-button">
	  <img src="/images/logo.png" alt="SiwBooks Logo" class="logo-img"/>
	</a>
  </header>
  
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-left">
      <img th:if="${autore.immagine != null and autore.immagine != ''}" 
           th:src="@{'/images/' + ${autore.immagine}}" 
           alt="Immagine Autore" 
           class="book-img" />

      <img th:if="${autore.immagine == null or autore.immagine == ''}" 
           src="/images/default.jpg" 
           alt="Immagine Default" 
           class="book-img" />
    </div>

    <div class="hero-right">
      <div id="book-details">
        <h1 th:text="${autore.nome + ' ' + autore.cognome}">Nome Cognome</h1>
        <h2 th:text="${autore.nazione}">Nazione</h2>
        <h2 th:text="${autore.dataNascita}">Nascita</h2>
        <h2 th:text="${autore.dataMorte}">Morte</h2>

        <h3>Lista Libri:</h3>
        <ul>
          <li th:if="${#lists.isEmpty(autore.libri)}">Nessun libro</li>
          <li th:each="libro : ${autore.libri}" th:unless="${#lists.isEmpty(autore.libri)}">
            <a th:href="@{/libro/{id}(id=${libro.id})}" th:text="${libro.titolo}" class="author-link"></a>
          </li>
        </ul>
      </div>

      <div th:if="${isAdmin}">
        <a th:href="@{'/admin/modificaAutore/' + ${autore.id}}" class="btn-read-more">Modifica</a>
        <a th:href="@{'/admin/cancellaAutore/' + ${autore.id}}" class="btn-read-more">Cancella</a>
      </div>
    </div>
  </section>

  <!-- Search Section -->
  <section class="search-bar">
    <input type="text" placeholder="Type to search product and hit enter" />
    <select>
      <option>Browse a category</option>
      <option>Fiction</option>
      <option>Biography</option>
      <option>Science</option>
    </select>
    <button class="search-btn">🔍</button>
  </section>
</body>
</html>

