<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <link rel="stylesheet" href="/css/loginStyle.css" />
</head>
<body>
  <div class="login-wrapper">
	<div class="login-left">
		<a href="/" class="logo-link">
		  <img src="/images/logo.png" alt="Logo" class="left-image" />
		</a>
	</div>
    <div class="login-right">
      <div class="form-container">
        <h2>Benvenuto</h2>
        <p>Accedi al tuo account</p>
        <form method="post" th:action="@{/login}">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />

          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />

		  <div class="button-group">
		    <button type="submit" class="button-link">Login</button>
		    <a href="/registrazione" class="button-link">Registrati</a>
		  </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
